body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

.title {
    font-size: 50;
    color: #0056b3;
    text-align: center;
}

.title_des {
    text-align: center;
    font-style: italic;
}

.img_graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

a {
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
