<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Productivito</title>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    </head>

    <body>

        <div class="wrapper">

            <nav>
                <div>
                    <a href="/">
                    <h1 class="title">Dashboard</h1>
                    </a>
                    <h3 class="title_des">A PC Usage Tracker</h3>
                </div>

            </nav>

            <ul class="pages">
                <li><a href="/graph">Graph Usage</a></li>
                <li><a href="/weekly-summary">Weekly Graph Usage</a></li>
                <li><a href="/monthly-summary">Monthly Graph Usage</a></li>
            </ul>

        </div>

    </body>
</html>
